footer {
    width: 100%;
    background-color: rgba(154, 149, 149, 0.66);
    padding: 20px 0;
}

footer section {
    display: flex;
    align-items: center;
}

span{
    text-align: center;
    padding-left: 10px;
}

.aviso{
    align-items: center;
    justify-content: center;
}

.con{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.name-year,
.logo-ventex,
.socialmedia-ventex {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-ventex h1 {
    font-size: 2.5rem;
}

.socialmedia-ventex a {
    color: #000;
    text-decoration: none;
}

.socialmedia-ventex i {
    font-size: 2rem;
    margin: 0 5px;
}
