.main-container-header{
    width: 100%;
    height: 10vh;
    display: flex;
}
.c-logo{
    width: 18%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-family: "Hammersmith One", sans-serif;
    font-weight: 1000;
    font-size:3em;
    color: rgb(88, 88, 88);
}
.h-options{
    width: 70vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
.butt-h{
    width: 8vw;
    height: 7vh;
    background-color: #B0C881;
    margin-left: 2vh;
    border: 0;
    border-radius: 100px;
    transition: .3s;
    color: white;
    cursor: pointer;
}
.butt-h:hover{
    background-color: #8ca063;
    transform: scale(1.1);
}
#search-p{
    width: 28vw;
    height: 5vh;
    margin-left: 5vh;
    border-radius: 100px;
    outline: 0;
    padding-left: 1vw;
    border: 1px solid rgb(196, 196, 196);
}
.profileContainer{
    width: 12vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
.basket{
    width: 8vh;
    height: 8vh;
    margin-left: 2vh;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 100px;
    transition: .3s;
    color: white;
    cursor: pointer;
}
.basket:hover{
    box-shadow: 0 0 5px 1px rgb(167, 167, 167);
}
.profile{
    width: 8vh;
    height: 8vh;
    margin-left: 2vh;
    border: 1px solid rgb(196, 196, 196);
    background-color: #748553;
    border-radius: 100px;
    transition: .3s;
    color: white;
}
/*-Footer------------------------------------------------------------------------------*/
footer{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #748553;
    margin-top: 5vh;
}
.logo-f{
    font-family: "Hammersmith One", sans-serif;
    font-weight: 1000;
    font-size:3em;
    margin-left: 3vw;
    color: white;
}
/*
 <header class="main-container-header">
        <section class="c-logo"><p class="logo">Ventex</p></section>
        <section class="h-options">
            <button class="butt-h">Inicio</button>
            <button class="butt-h">Categorías</button>
            <button class="butt-h">Planes</button>
            <button class="butt-h">Vender</button>
            <form action="" method="post">
                <input type="search" name="search-product" id="search-p">
            </form>
        </section>
        <section class="profileContainer">
            <button class="basket"> <img src="bolsa-de-la-compra.png" alt=""></button>
            <button class="profile"></button>
        </section>
    </header>
*/