*{
    margin: 0;
    padding: 0;
}
   
header{
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #182722;
   font-family: Arial, Helvetica, sans-serif;
}

header h1{
 font-size: 3rem;
<<<<<<< Updated upstream
 color: #00e092c4;
=======
 color: #00E091;
>>>>>>> Stashed changes
}