.headerPreview{
    width: 100%;
    height: 9%;
    background-color: #B3C372;
    display: flex;
    align-items: center;
    justify-content: right;
}
.searchPreview{
    width: 25%;
    height: 40%;
    background-color: white;
    border-radius: 100px;
    margin-right: 3%;
}
.categoriesPreview{
    width: 20%;
    height: 92%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #647A3F;
    overflow: hidden;
}
.categoryButtonPreview{
    width: 100%;
    height: 10%;
    background-color: #647A3F;
    border: none;
    border-bottom: 0.1px solid rgb(186, 186, 186);
}
.productsAllContainerPreview{
    width: 80%;
    height: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titlePreviewContainer{
    width: 100%;
    height: 5%;
}
.titleCategoryPreview{
    font-size: 70%;
    font-weight: 200;
    margin-left: 20%;
}
.previewProductsContainer{
    margin-top: 3%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}