*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main{
    width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    width: 100%;
}
header{
    width: 100%;
}
/*--HEADER---/////////////////////////////////////////////////////////////////////////////////////////*/
.headerContainer{
    --headerColor: #B3C372;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--headerColor);
}
.logoContainer{
    width: 20vw;
    height: 100%;
}
.optionsContainer{
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vw;
}
.option{
    border: 0;
    background-color: var(--headerColor);
    color: white;
}
.search{
    width: 30vw;
    height: 5vh;
    position: absolute;
    top: 2vh;
    right: 2vw;
    outline: 0;
    padding-left: 1vw;
    border: 0;
    border-radius: 100px;
    font-size: 1vw;
}
/*--CATEGORIES---/////////////////////////////////////////////////////////////////////////////////////////*/
.categoriesContainer{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryButton{
    width: 15vw;
    height: 5vh;
    background-color: #647A3F;
    border: 0;
    border-radius: 100px;
    color: white;
    transition: .3s;
    margin-left: .5vw;
    margin-right: .5vw;
    font-size: 1vw;
}
.categoryButton:hover{
    background-color: #B3C372;
    transform: scale(1.08);
    /* animation-name: bot-effect;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: .3s; */
}
/* @keyframes bot-effect{

    0% {background-image: linear-gradient(#647A3F, #B3C372);}
    100% {background-image: linear-gradient(#B3C372, #647A3F);}

} */
/*--CONTENT---/////////////////////////////////////////////////////////////////////////////////////////*/
.sectionProductsContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.titleSectionC{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
}
.productsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* repeat(
        auto-fill,
        minmax(200px, 1fr)
        ); */
    gap: 1rem;
    /* background-color: blue; */
}
.titleSection{
    color: gray;
    margin-left: 3rem;
    font-size: 3rem;
    font-weight: 400;
}
/*--FOOTER---/////////////////////////////////////////////////////////////////////////////////////////*/

aside{
    width: 70em;
    height: 20px;
    background-color: #ff0000;
}