/* Configuración del cuerpo de la página */
* {
    padding: 0;
    margin: 0;
    font-family: "Hammersmith One", sans-serif; /* Tipo de fuente */
  }
  html,
  body {
    width: 100vw;
    height: 100vh;
    background-color: #ebebeb; /* Color de fondo del body */
  }
  
  #bar-navegation {
    width: 20vw;
    height: 94vh;
    background: rgb(1, 4, 18);
    background: linear-gradient(
      0deg,
      rgba(1, 4, 18, 1) 6%,
      rgba(44, 46, 56, 1) 40%,
      rgba(136, 136, 136, 1) 100%
    );
    clear: both;
  }
  
  #header-name {
    margin-top: 3vh;
    width: 80vw;
    height: 10vh;
    background-color: #c2c5cc;
    clear: both; /* Limpiar flotantes */
  }
  
  #footer-Ventex {
    clear: both; /* Limpiar flotantes */
    width: 100vw;
    height: 6vh;
    background-color: #2e325a;
  }
  

  
  #section-data {
    margin-top: 20px; /* Espacio superior */
    width: 80vw;
    height: 70vh;
    background-color: wheat;
    clear: both; /* Limpiar flotantes */
  }
  
  table,
  th,
  td {
    border: 1px solid;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
  }
  