* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  display: flex;
  flex-wrap: wrap;
}
main{
  width: 80vw;
  min-height: 94vh;
}
/*-----------------------------------------------------------------------------------*/
/*   Barra de Navegación (Izquieda)                                                  */
/*-----------------------------------------------------------------------------------*/
#bar-navegation {
  width: 20vw;
  height: 94vh;
  background-image: linear-gradient(rgb(29, 29, 66), black);
}
/*-- info user ----------------------------------------------------------------------*/

#info-user {
  width: 20vw;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
#imagen-usAdm {
  width: 8vw;
  height: 8vw;
  background-color: rgb(219, 219, 219);
  border-radius: 100%;
  margin-top: 3vh;
  overflow: hidden;
}
#img-A {
  width: 100%;
  height: auto;
}
#Name-Adm {
  margin-top: 2vh;
  width: 19vw;
  text-align: center;
  font-size: 1rem;
  color: white;
}
/*-- button navigation ------------------------------------------------------------*/

#button-navegation {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3vh;
}
.linkOption{
  text-decoration: none;
  font-weight: 400;
  color: white;
  margin-bottom: 3vh;
  margin-left: 2.5vw;
}
.linkOption:hover{
  transform: scale(1.1);
}
.Box-navegation {
  width: 20vw;
  height: 5vh;
}
.section-buton {
  width: 15vw;
  height: 5vh;
  color: white;
}
#button-logout {
  width: 20vw;
  height: 10vh;
  background-color: rgba(89, 89, 89, 0.433);
  display: flex;
  align-items: center;
}
.link-logout{
  text-decoration: none;
  font-weight: 400;
  color: white;
  margin-bottom: 3vh;
  margin-left: 2.5vw;
}

/*-----------------------------------------------------------------------------------*/
/*   Derecha                                                                         */
/*-----------------------------------------------------------------------------------*/
#section-header {
  width: 100%;
  height: 10vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
#header-name > #Name-page {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 800;
  font-size: 4.5vw;
  text-align: center;
  color: #1f355f;
  /* text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); */
}

/*-- Search Input ---------------------------------------------------------------------------------------------*/
#section-search {
  width: 100%;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2vh;
}
/*-----------------------------------------------------------------------------------------------*/


#section-data {
  width: 78vw;
  max-height: 60vh;
  background-color: rgb(234, 234, 234);
  margin-left: 1vw;
  margin-top: 1vh;
  overflow: scroll;
}
.tabla {
  width: 78vw;
  border-collapse: collapse;
}


.tabla td {
  /* border: 1px solid #ccc;
  padding: 8px; */
  text-align: center;
  width: 5vw;
  overflow: hidden;
}
.data-table{
  width: 20vw;
  overflow: hidden;
}
.tabla th {
  background-color: #004b7e;
  color: rgb(244, 244, 244); 
  font-weight: 400;
  height: 5vh;
  width: 10vw;
}

.tabla tbody tr{
  height: 10vh;
  background-color: white;
  transition: .3s;
  /* container-type: inline-size; */
}

.tabla tbody tr:hover {
  background-color: #f0f0f0;
}
.tit-c {
  width: 100%;
  min-height: 6vh;
}
.tit {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4vw;
  margin-left: 1vw;
  color: gray;
}
.optionPoints{
  width: 2vw;
  height: 2vw;
  background: none;
  border: none;
  border-radius: 100%;
}
.optionPoints:hover{
  border: 0.1vw solid rgb(207, 207, 207);
}
.pointsV{
  width: 100%;
  height: 100%;
}
/*-- 3 points -------------------------------------------------------------------------------------------*/

.check{
  text-align: center;
}
.checkButton{
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  border: none;
  background: none;
}
.checkButton:hover{
  transform: scale(1.01);
  border: 1px solid rgb(221, 221, 221);
}
.pointsV{
  width: 100%;
  height: 100%;
}
.pointsContiner{
  width: 2vw;
  margin-left: 2.5vw;
}
.pointsOptions{
  position: absolute;
  width: 8vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  z-index: 10;
}
.pointsOption{
  width: 20vw;
  height: 2vw;
  background-color: white;
  display: flex;
  align-items: center;
  border: 0.1vw solid rgb(187, 187, 187);
  border-collapse: collapse;
}
.linkOptionPoints{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding-left: 1vw;
}
.linkOptionPoints:hover{
  background-color: gainsboro;
}

.hidden{
  display: none;
}
/*-- Footer ---------------------------------------------------------------------------------------------*/
footer {
  width: 100vw;
  height: 6vh;
  background-color: #2e325a;
  float: left;
}
#name-footer {
  color: white;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  text-align: end;
  margin-right: 5vw;
}
