/* Customize styles according to your preferences */
body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

header {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    border: 2px solid #B0C881;
    border-radius: 9px;
    background-color: #B0C881;
    padding: 5px;
}

header nav a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.search-bar input[type="text"] {
    border: none;
    background-color: transparent;
    color: black;
    padding: 5px;
    outline: none;
    flex-grow: 1;
}

.search-bar button[type="submit"] {
    background-color: #B0C881;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-profile span {
    color: black;
    font-size: 14px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    width: 30%;
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.product {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.product h3 {
    color: green;
}

.product h4 {
    margin: 5px 0;
}

.product a {
    background-color: #333;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

footer {
    background-color: #434F41;
    color: white;
    text-align: left;
    
}

.card {
    width: 190px;
    height: 370px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em; 
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }

   h1{
    margin-left: 30px;
   }

   .e-card {
    margin: 100px auto;
    background: lightgreen;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 100vw;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 100vw;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#096e00,#42f38c 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 2.8em;
    left: 0;
    right: 0;
    color: white;
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .slider{
    height: 300px;
    width: 100vw;
    border: 1px solid black;
    background-color:grey;
  }