* {
    padding: 0;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
}

html {
    height: 100%;
    background-color: #EBEBEB;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.contenedor-Producto {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 2rem;
}

.contenedor-Producto span {
    margin-bottom: 0.5rem;
}

#img-Producto {
    width: 33vw;
    height: 33vw;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#description {
    width: 25vw;
    height: 30vw;
    display: flex;
    justify-content: start;
    padding: 3rem;
}

.desc {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name-Product {
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.category {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

#price-product {
    font-size: 1.8rem;
}

#top {
    color: #07BF7D;
    font-weight: bold;
}

#desc-Contacto {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

#text-desc {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

#ver-mas {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

#bot {
    background-color: #fff;
    padding: 5px;
    position: relative;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
    border: none;
    margin-bottom: 10px;
}

#bot:hover {
    color: whitesmoke;
    background-color: #182722cb;
}

/* Contenedor Productos Recomendados */

.container-moreProductos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.textU h1{
    /* width: auto; */
    font-size: 2rem;
    padding: 10px;
}

.cont{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

.producto{
    border: none;
}

.textU{
    width: 45%;
    height: auto;
}

/* Contenedor Información de contacto */

.cont-Contact{
    width: 80%;
    height: auto;
}

.cont-Contact h1{
    font-size: 2rem;
    padding: 10px;
}

.part-Redes{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}

.part-Redes i{
    font-size: 2.5rem;
    color: #182722;
    font-weight: bold;
    padding-left: 2rem;
    text-decoration: none;
}

.part-Desc{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.text-Desc{
    font-size: 1.6rem;
    color: #182722;
}

/* Contenedor de la valoración */

.cont-Valoracion{
    width: 100%;
    max-height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.part-Comentarios{
    width: 45%;
    height: 100%;
    padding: 10px;
}

#inputVal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

#text-Comen {
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    box-sizing: border-box; 
    font-size: 16px;
    line-height: 1.5;
}


.submit-Com{
    appearance: button;
    background-color: #182722cb;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.submit-Com:after {
    background-clip: padding-box;
    background-color: #182722cb;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.submit-Com:main, .submit-Com:focus {
    user-select: auto;
}
   
.submit-Com:hover:not(:disabled) {
    filter: brightness(1.1);
}
   
.submit-Com:disabled {
    cursor: auto;
}
   
.submit-Com:active:after {
    border-width: 0 0 0px;
}
   
.submit-Com:active {
    padding-bottom: 10px;
}

/* Reseñas */

.part-Reseñas{
    width: 50%;
    max-height: calc(30vh - 20px); 
    padding: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.contRes{
    max-height: calc(30vh - 100px);
    overflow-y: auto;
    margin-bottom: 10px;
}
