* {
    padding: 0;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
}

html {
    height: 100%;
    background-color: #EBEBEB;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.contenedor-Producto {
    width: 80%;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 2rem;
    background-color: white;
    margin: 2vw;
    margin-left: 10vw;
}

.contenedor-Producto span {
    margin-bottom: 0.5rem;
}

#img-Producto {
    width: 33vw;
    height: 33vw;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#description {
    width: 25vw;
    min-height: 25vw;
    display: flex;
    justify-content: start;
    padding: 2vw;
    /* border: 1px solid rgb(166, 166, 166); */
}
.contactDescription{
    font-size: 1.2rem;
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name-Product {
    font-size: 3vw;
    padding-bottom: .5rem;
}

.category {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

#price-product {
    font-size: 2vw;
    color:#07BF7D
}

#top {
    color: #07BF7D;
    font-weight: bold;
}

#desc-Contacto {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

#text-desc {
    text-align: left;
    font-size: 1.2vw;
    padding-bottom: 1.5vw;
}

#ver-mas {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

#bot {
    width: 25vw;
    height: 3vw;
    background-color: #fff;
    position: relative;
    transition: 0.3s;
    font-size: 1vw;
    border-radius: 0.4em;
    border: none;
    margin-bottom: 1vw;
    border: 1px solid gray;
}

#bot:hover {
    border: none;
    color: whitesmoke;
    background-color: #182722cb;
}

/* Contenedor Productos Recomendados */

.container-moreProductos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.textU h1{
    /* width: auto; */
    font-size: 2rem;
    padding: 10px;
}

.cont{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

.producto{
    border: none;
}

.textU{
    width: 45%;
    height: auto;
}

/* Contenedor Información de contacto */

.cont-Contact{
    width: 40%;
    height: auto;
    border-radius: 0.5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: left;
    margin-left: 5vw;
}

.cont-Contact h1{
    font-size: 2rem;
    padding: 10px;
}

.part-Redes{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding-bottom: 10px;
}

.part-Redes i{
    font-size: 2.5rem;
    color: #182722;
    font-weight: bold;
    padding-left: 2rem;
    text-decoration: none;
}

.part-Desc{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.text-Desc{
    font-size: 1.6rem;
    color: #182722;
}

/*---------------------------------------------------------------------------------------------------*/
/*   Contenedor de la valoración                                                                     */
/*---------------------------------------------------------------------------------------------------*/
.cont-Valoracion{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.part-Comentarios{
    width: 45%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}
#inputVal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.submit-Com{
    appearance: button;
    background-color: #182722cb;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.submit-Com:after {
    background-clip: padding-box;
    background-color: #182722cb;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.submit-Com:main, .submit-Com:focus {
    user-select: auto;
}
   
.submit-Com:hover:not(:disabled) {
    filter: brightness(1.1);
}
   
.submit-Com:disabled {
    cursor: auto;
}
   
.submit-Com:active:after {
    border-width: 0 0 0px;
}
   
.submit-Com:active {
    padding-bottom: 10px;
}
/*---------------------------------------------------------------------------------------------------*/
/*   Comentar                                                                                        */
/*---------------------------------------------------------------------------------------------------*/
.writeCommentSection{
    width: 40vw;
    display: flex;
    justify-content: right;
}
.part-Comentarios{
    width: 36vw;
    height: 67vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    box-shadow: 0 0 1vw 0.5vw rgb(220, 220, 220);
}
#text-Comen {
    width: 90%;
    height: auto;
    height: 40vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    box-sizing: border-box; 
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2vh;
}
/*---------------------------------------------------------------------------------------------------*/
/*   Reseñas                                                                                         */
/*---------------------------------------------------------------------------------------------------*/

.reviewSectionContainer{
 width: 55vw;
 max-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.part-Reseñas{
    height: 70vh;
    width: 90%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 1vw 0.5vw rgb(231, 231, 231);

}
.viewRes{
    width: 100%;
    border-bottom: 0.1vw solid rgb(215, 215, 215);
    padding: 1vw;
    padding-right: 1vw;
}
.contRes{
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1vw;
}
.userReviewContainer{
    width: 100%;
    height: 7vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}
.userReviewPhotoContainer{
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    background-color: gray;
    overflow: hidden;
    margin-right: 1vw;
    display: flex;
    align-items: center;
}
.userReviewPhoto{
    width: 100%;
    height: auto;
}
.reviewUserName{

}
/*---------------------------------------------------------------------------------------------------*/

.productsContainer{
    width: 100%;
    height: 37vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.containerCarrusel{
    width: 80vw;
    height: 27vw;
    display: flex;
    position: relative;
    transition: .3s;
}
.carrusel{
    width: 80vw;
    height: 29vw;
    display: flex;
    position: relative;
    transition: .3s;
    overflow: hidden;
}
.productsCarrusel{
    width: auto;
    height: 29vw;
    /* background-color: rgb(196, 251, 212); */
    background-color: white;
    display: flex;
    align-items: center;
    transition: .3s;
}
.carruselButton{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    z-index: 4;
    border: 1px solid rgb(195, 195, 195);
    color: rgb(191, 191, 191);
    font-size: 1.5vw;
    background-color: white;
    transition: .3s;
}
.carruselButton:hover{
    transform: scale(1.05);
}
.prev{
    top: 10vw;
    left: -2.5vw;
}
.next{
    top: 10vw;
    right: -2.5vw;
}
.subcategoryTitle{
    font-size: 2.5vw;
    color: rgb(77, 75, 75);
    font-weight: 500;
    margin-left: 12vw;
}
.subcategoryTitleContainer{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
}
.productDescriptionTitle{
    font-size: 2.5vw;
    color: rgb(77, 75, 75);
    font-weight: 500;
  margin-left: 2vw;
}
.calculateModal{
    width: 40vw;
    height: auto;
    position: fixed;
    top: 37.5vh;
    left: 30vw;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    
}
.titleCalculate{
    width: 100%;
    font-weight: 700;
    color: gray;
    margin: 2vw;
}
.resultCalculation{
    width: 100%;
    font-weight: 600;
    color: rgb(0, 48, 0);
    margin: 2vw;
    margin-top: 0;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(186, 186, 186, 0.191);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 5;
    top: 0;
}

.hidden{
    display: none;
}
.text-alining{
    margin-left: 12vw;
}