*{
    padding: 0%;
    margin: 0%;
    font-family: 'Hammersmith One', sans-serif;
}
html,body{
    height: 100%;
    background-color: #e4e4e4;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*   SUBCATEGORIES                                                                                                     */
/*---------------------------------------------------------------------------------------------------------------------*/

.categoryName{
    position: absolute;
    font-size: 1.3vw;
    font-weight: 400;
    left: 1vw;
    top: 12vh;
}
.subcategoriesSection{
    width: 100%;
    height: 33vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.subcategoryButton{
    width: 8vw;
    height: 10vw;
    border: none;
    background: none;
    transform: .3s;
    cursor: pointer;
    transition: .3s;
    gap: 5vw;
    margin: 0.7vw;
}
.subcategoryButton:hover{

    transform: scale(1.03);
}
.subcategoryPhotoContainer{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: #2b3617;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.subcategoryPhoto{
    width: 100%;
    height: 100%;
}
.subcategoryNameContainer{
    width: 100%;
    min-height: 2vw;
}
.subcategoryName{
    margin-top: 0.5vw;
    font-size: 1vw;
    color: black;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*   ADVERTISING                                                                                                       */
/*---------------------------------------------------------------------------------------------------------------------*/
.advertisingContainer{
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertisingBox{
    width: 35vw;
    height: 17vw;
    background-color: white;
    margin: 1%;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s;
}
.advertisingBox:hover{
    transform: scale(1.02);
    box-shadow: 0 0.2vw 1vw 0.5vw rgb(152, 152, 152);
}
.adverstisingImage{
    width: 100%;
    height: auto;
}
.advertisingLargeContainer{
    width: 100%;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.advertisingLargeBox{
    width: 70vw;
    height: 13vw;
    background-image: linear-gradient(green, green);
    margin: 1%;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s;
}
.advertisingLargeBox:hover{
    transform: scale(1.02);
    box-shadow: 0 0.2vw 1vw 0.5vw rgb(152, 152, 152);
}
.advertisingTitle{
    color: white;
    font-size: 3vw;
    position: absolute;
}
.adverstisingImage{
    width: 100%;
    height: auto;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*   CONTENT                                                                                                           */
/*---------------------------------------------------------------------------------------------------------------------*/

/*-- Recommended Products ---------------------------------------------------------------------------------------------*/

.recommendedPorductsSection{
    width: 100%;
    height: 50vh;
    background-color: white;
}
/*-- Sub Category Title -----------------------------------------------------------------------------------------------*/
.subcategoryTitle{
    font-size: 2.5vw;
    color: rgb(77, 75, 75);
    font-weight: 500;
    margin-left: 12vw;
}
.subcategoryTitleContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}
#tir{
    color: white;
    font-size: 8vh;
    font-family: 'Hammersmith One', sans-serif;
}
.productsContainer{
    width: 100%;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.containerCarrusel{
    width: 80vw;
    height: 27vw;
    display: flex;
    position: relative;
    transition: .3s;
}
.carrusel{
    width: 80vw;
    height: 29vw;
    display: flex;
    position: relative;
    transition: .3s;
    overflow: hidden;
}
.productsCarrusel{
    width: auto;
    height: 29vw;
    /* background-color: rgb(196, 251, 212); */
    background-color: white;
    display: flex;
    align-items: center;
    transition: .3s;
}
.carruselButton{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    z-index: 4;
    border: 1px solid rgb(195, 195, 195);
    color: rgb(191, 191, 191);
    font-size: 1.5vw;
    background-color: white;
    transition: .3s;
}
.carruselButton:hover{
    transform: scale(1.05);
}
.prev{
    top: 10vw;
    left: -2.5vw;
}
.next{
    top: 10vw;
    right: -2.5vw;
}