*{
    padding: 0;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
}
html{
    height: 100%;
    background-color: #EBEBEB;
}

body{
    width: 100%;
}
 main{
    height: auto;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: start;
 }
 .parent{
    min-width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
 }
 .parent_Child{
    width: 98vh;
    
    gap: 2rem;
    padding: 3rem;
    padding-top: 0;

 }
 .parent_FirstChild{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    gap: 1rem;
 }
 .edit{
   text-decoration: none;
   color: inherit;
 }
 .parent_LastChild{
   width: 100%;
   height: auto;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center   ;
   background-color: white;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
 }
 #background{
   width: 100%;
   height: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   position: relative;
   top: 5vh;
   z-index: 0;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   background-image: url(../Icons/Fondos-Pantallas/VENTEX_BACK.png);
 }
 #profile_Card_Img{
    width: 30vh;
    height: 30Vh;
    border-radius: 50%;
    position: relative;
    top: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: url(https://i.pinimg.com/564x/e2/5a/c1/e25ac198405c799681a7667e5204b922.jpg); */
 }
#profile_Img{
   width: 100%;
   height: auto;
 } 
.info {
   width: 50%;
   min-height: 50vh;
   border-radius: 20px;
   display: grid;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 3rem;
   margin-top: 5vh;
   gap: 1.5rem;
}


.info h1 {
   font-size: 3rem;
   margin: 0;
}

.details {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.data table {
   font-size: 1rem;
   width: 100%;
   border-collapse: collapse;
}

td {
   padding: 8px;
}

/* Social media section styles */
.socialMedia {
   width: 100%; /* Ajustado para llenar el ancho del contenedor */
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 2rem;
   gap: 1rem;
}

/* Social media heading styles */
.socialMedia h1 {
   font-size: 1.3rem;
}

/* Social media link styles */
.socialMedia a {
   display: flex;
   align-items: center;
   color: inherit;
   text-decoration: none;
}

/* Social media icon styles */
.socialMedia i {
   font-size: 2.3rem;
}

/* Edit link styles */
.info-edit > a > i {
   font-size: 1rem;
}

/* Additional styles for social media section */
.socialMedia section {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}


.card {
   position: relative;
   width: 12vw;
   height: 35vh;
   box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
   cursor: pointer;
   transition: all 120ms;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   padding: 0.5em;
   padding-bottom: 3.4em;
   float: left;
   padding-right: 1rem;
 }
 .card:hover{
   -webkit-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.281);
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.281);
 }

 .card .title {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.9em;
   position: absolute;
   left: 0.625em;
   bottom: 1.875em;
   font-weight: 400;
   color: #000;
 }

 .card .price {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 0.9em;
   position: absolute;
   left: 0.625em;
   bottom: 0.625em;
   color: #000;
 }

 .text {
   max-width: 55px;
 }

 .image {
   background: rgb(241, 241, 241);
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
 }
 .group {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }
.searchSection{
   width: 100%;
   height: 10vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 2vh;
   position: relative;
}
.addProductButton{
   width: 20vh;
   height: 6vh;
   position: absolute;
   right: 3vh;
   background: none;
   border: 1px solid rgb(153, 153, 153);
   color: gray;
   transition: 0.3s;
}
.addProductButton:hover{
   background-color: #00a400;
   color: white;
   border: none;
}
  .inputSearch {
   width: 100%;
   height: 20px;
   display: flex;
   justify-content: center;
   align-content: center;
   line-height: 28px;
   padding: 0 1rem;
   padding-left: 2.5rem;
   border: 2px solid transparent;
   border-radius: 8px;
   outline: none;
   color: #0d0c22;
   transition: .3s ease;
  }

  .inputSearch::placeholder {
   color: #9e9ea7;
  }

  .inputSearch:focus, input:hover {
   outline: none;
   border-color: #B0C881;
   background-color: #fff;
   box-shadow: 0 0 0 4px #b0c88127;
  }

  .cards{
   width: 100%;
   display: flex;
   justify-content: center;
   max-height: 85vh;
   min-height: 20vh;
   overflow-y: auto;
   overflow-x: hidden;

  }

  .icon {
   position: absolute;
   left: 1rem;
   fill: #9e9ea7;
   width: 1rem;
   height: 1rem;
  }


  .subs{
  border: none;
  background: none;
  cursor: pointer;
  }

  .subs {
   position: relative;
   display: flex;
   font-weight: 600;
   font-size: 20px;
   gap: 0.5rem;
   align-items: center;
 }

 .subs::after {
   position: absolute;
   content: "";
   width: 0;
   left: 0;
   bottom: -7px;
   background: #b2c274b5;
   height: 2px;
   transition: 0.3s ease-out;
 }

 .subs::before {
   position: absolute;
   width: 0%;
   inset: 0;
   color: #b2c274b5;
   overflow: hidden;
   transition: 0.3s ease-out;
   position: absolute;
    width: 0%;
    inset: 0;
    color: #b2c274b5;
    overflow: hidden;
    transition: 0.3s ease-out;
 }

 .subs:hover::after {
   width: 100%;
 }

 aside {
   width: 13vw;
   height: 35vh;
   position: fixed;
   border-radius: 20px;
   top: 40vh;
   right: 2rem;
   background-color: #cfcfcf;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
}

aside nav ul {
   list-style: none;
}

aside nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

  /*Manu Changes ---------------------------------------------*/

  #resultados{
   width:95%;
   height: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2.5vh;
  }



aside nav ul li {
   text-align: center;
   margin-bottom: 10px;
   border-left: 5px solid transparent;
   border-bottom-left-radius: 6px;
   transition: border-left-color 0.3s ease;
}

aside nav ul li:hover {
   border-left-color:#00a400;

}

aside nav ul li a {
   display: block;
   width: 100%;
   text-decoration: none;
   color: #333;
   padding-bottom: 10px;
}
#Noresult{
   font-size: 30px;
   margin: auto;
}
.hidden {
   display: none;
}

.invisibleOverlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 10;
}
