* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

html, body {
  height: 100%;
  background-color: #EBEBEB;
}

body {
  width: 100%;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

.presentacion {
  width: 100%;
  height: 60vh;
  background-color: #182722;
  position: relative;
  overflow: hidden;
}

.circle1 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(45deg, #182722, #00E091);
  border-radius: 50%; 
  position: absolute; 
  top: -30vh; 
  left: -60px;
}

.circle2 {
  width: 15vw;
  height: 15vw;
  background: linear-gradient(45deg, #00E091, #182722);
  border-radius: 50%; 
  position: absolute; 
  bottom: -80px; 
  left: -40px;
}

.circle1::before,
.circle1::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 2px;
  background-color: white;
  left: -25%;
  bottom: 15%;
  transform: rotate(45deg); 
  transform-origin: center; 
}

.circle1::after {
  bottom: 5%;
  transform: rotate(-45deg);
}

.ventex {
  position: absolute;
  top: 10%;
  right: 80px;
  font-size: 7rem;
  font-weight: bolder;
  color: #00E091;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slogan {
  position: absolute;
  top: 40%;
  right: 80px;
  font-size: 2rem;
  font-weight: bolder;
  color: whitesmoke;
  text-align: end;
  gap: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productos-Recomendados {
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
}

.productos-Recomendados h1 {
  color: #182722;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.slider{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 16vw;
  height: 40vh;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
  margin-right: 1rem;
  float: left;
}

.card:hover {
  -webkit-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.281);
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.281);
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-items: center; */

  overflow:hidden ;
}

.recently-viewed {
  width: 100vw;
  padding: 4rem;
  background-color: #fff;
}

.recently-viewed h1 {
  color: #182722;
  text-align: center;
  margin-bottom: 2rem;
}

.e-card {
  /* margin: 100px auto; */
  background: lightgreen;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 90vw;
  height: 40vh;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  position: absolute;
  width: 100vw;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#1827229b,#07BF7D 60%,#8d8f8f);
}

   
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    color: black;
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 40s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 8000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
.img_product{
  width: auto ;
  height: 100%;
}