*{
    padding: 0%;
    margin: 0%;
    font-family: 'Hammersmith One', sans-serif;
}
html,body{
    height: 100%;
    background-color: #CCCCCC;
}
main{
    width: 100%;
    height: 100%;
}
.bar_perfil{
    width: 25%;
    height: 40%;
    float: left;
    margin-top: 15%;
    margin-left: 2%;
    border-radius: 7px;
    background-color: white;
}
#form1{
    margin-left: 5%;
}
.sub,.ca{
    list-style: none;
}
.subcate{
    width: 90%;
    height: 3vw;
    float: left;
    border-radius: 10px;
    background-color: #929d7d;
    transform: .3s;
}
.subcate:hover{
    box-shadow: 1px 1px black, 6px 6px #434F41, 3px 3px #434F41;
    transform: translateX(-3px);;
}
#c_pic{
    width: 25vw;
    height: 50vh;
    float: left;
}
#pict{
    width: 14vw;
    height: 14vw;
    margin: auto;
    margin-top: 9%;
    border-radius: 100%;
    background-color: #c9c9c9;
}
#nomUsuario{
    font-size: xx-large;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1vh;
    margin-top: 4vh;
    text-align: center;
}
.description{
    margin: 2vw;
}
#container_contact{
    width: 90%;
    height: auto;
    margin-left: 5%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    margin-bottom: 2vw;
}
.namP{
    font-family: 'Cabina', sans-serif;
    font-size: xx-large;
    margin-left: 10%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.container_links{
    width: 100%;
    height: auto;
    float: left;
}
.link{
    width: 5vw;
    height: 5vw;
    float: left;
    margin-left: 10%;
    background-color: #a5a5a5;
    border-radius: 100%;
    margin-bottom: 1vw;
    transition: .3s;
}
.link:hover{
    box-shadow: 0 0 5px 2px rgb(177, 177, 177);
}
.contact_description{
    font-family: 'Cabina', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2vw;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.tituleishon{
    font-size: 400%;
    color: rgb(77, 75, 75);
    margin-left: 30%;
}
#titulo_C{
    width: 69vw;
    height: 15vh;
    float: left;
    margin-top: 10vh;
}
#tir{
    color: white;
    font-size: 8vh;
    font-family: 'Hammersmith One', sans-serif;
}
#pr_productos{
    width: 69vw;
    height: auto;
    float: left;
    margin-top: 3vh;
    margin-left: 5vh;
}
#pr_productos_sub{
    width: 94vw;
    height: auto;
    float: left;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-bottom: 3vw;
}
.subcate{
    font-size: 20px;
    margin: 1%;
    color: whitesmoke;  
}
.container_p{
    width: 20vw;
    height: 35vw;
    float: left;
    margin: 1vh;
    background-color: white;
    border-color: white;
    border-radius: 5px;
    transition: .3s;
    text-align: left;
}
.container_p:hover{
    box-shadow: 0px 0px 10px 5px rgb(170, 170, 170);
}
.container_p .c_picture{
    width: 100%;
    height: 20vw;
    float: left;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    
}
.c_precio{
    width: 20vw;
    height: 5vw;
    float: left;
    margin-top: 1vw;
}
.precio{
    color: rgb(126, 126, 126);
    font-family: 'Hammersmith One', sans-serif;
    font-size: xx-large;
    margin: 1vw;
    margin-left: 2vw;
}
.c_nombre{
    width: 18vw;
    height: 8vw;
    float: left;
}
.nombre{
    font-size: larger;
    font-family: 'Hammersmith One', sans-serif;
    margin-left: 2vw;
}
 .imagen{
    object-fit: cover;
    width: auto;
    height: 100%;
}
