*{
    padding: 0;
    margin: 0;
    font-family: "Hammersmith One", sans-serif;
}
html,
body {
  background-color: #ebebeb;
}
main{
    display: flex;
}
.resultTitleContainer{
    width: 80%;
    background-color: aqua;
}
/*-- RIGTH --------------------------------------------------------------------*/
.rigth{
    width: 35%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
}
.usersContainer{
    width: 30vw;
    height: 95vh;
    border-radius: 0.5vw;
    margin-top: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
}
.UserstitleContainer{
    width: 95%;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}
.titUsers{
    font-size: 2vw;
    font-weight: 500;
    color: rgb(165, 165, 165);
    margin-left: 5vw;
}
/*----------------------------------------------------------------------------*/
.userBox{
    width: 26vw;
    height: 6vw;
    border-radius: 0.5vw;
    background-color: white;
    border: none;
    margin-bottom: 1vw;
    display: flex;
    transition: .3s;
}
.userBox:hover{
    box-shadow: 0 0 10px 3px rgb(206, 206, 206);
    transform: scale(1.02);
}
.userPhotoSection{
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userPhotoContainer{
    width: 4.5vw;
    height: 4.5vw;
    background-color: rgb(204, 204, 204);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userPhoto{
    width: 100%;
    height: auto;
}
.userNameSection{
    width: 21.5vw;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 1vw;
    justify-content: left;
}
.userName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(94, 113, 94);
    margin-left: 1vw;
}
/*-- LEFT -------------------------------------------------------------------*/
.left{
    width: 65%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: right;
}
.titleContainer{
    width: 95%;
    min-height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}
.tit{
    font-size: 3vw;
    font-weight: 500;
    color: rgb(165, 165, 165);
    margin-left: 5vw;
}
.titResult{
    color: rgb(123, 161, 123);
}
.productsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.block{
    position: fixed;
    top: 0;
}