*{
    padding: 0%;
    margin: 0%;
    font-family: 'Hammersmith One', sans-serif;
}
html,body{
    height: 100%;
    background-color: #CCCCCC;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
/*-- SUBCATEGORIES ----------------------------------------------------------------------------------------------*/
.subcategoriesSection{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.subcategoryButton{
    width: 8vw;
    height: 10vw;
    border: none;
    background: none;
    transform: .3s;
    cursor: pointer;
    transition: .3s;
    gap: 5vw;
    margin: 1%;
}
.subcategoryButton:hover{

    transform: scale(1.03);
}
.subcategoryPhotoContainer{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: #2b3617;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.subcategoryPhoto{
    width: 100%;
    height: 100%;
}
.subcategoryNameContainer{
    width: 100%;
    min-height: 2vw;
}
.subcategoryName{
    margin-top: 0.5vw;
    font-size: 1vw;
    color: black;
}
/*-- ADVERTISING ------------------------------------------------------------------------------------------------------*/
.advertisingContainer{
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertisingBox{
    width: 35vw;
    height: 15vw;
    background-color: white;
    margin: 1%;
    border-radius: 0.5vw;
}
/*-- CONTENT ----------------------------------------------------------------------------------------------------------*/
.subcategoryTitle{
    font-size: 2.5vw;
    color: rgb(77, 75, 75);
    font-weight: 500;
    margin-left: 12vw;
}
.subcategoryTitleContainer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
#tir{
    color: white;
    font-size: 8vh;
    font-family: 'Hammersmith One', sans-serif;
}
#productsContainer{
    width: 100%;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.carrusel{
    width: 80vw;
    height: auto;
    background-color: white;
    display: flex;
    position: relative;
}
.productsCarrusel{
    width: 80vw;
    height: auto;
    background-color: white;
    display: flex;
    overflow: hidden;
}
.carruselButton{
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    z-index: 4;
    border: 1px solid gray;
    background-color: white;
}
.prev{
    top: 10vw;
    left: -2.5vw;
}
.next{
    top: 10vw;
    right: -2.5vw;
}