* {
  padding: 0%;
  margin: 0%;
  font-family: "Hammersmith One", sans-serif;
}
html,
body { 
  background-color: #ebebeb;
}
main {
  width: 100%;
  min-height: 90vh;
  display: flex;
}
/* Left Bar------------------------------------------------------------------------------*/
.left{
   width: 32vw; 
   min-height: 80vh;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: center;
}
.personalInfo {
  width: 25vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-top: 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.3vw 0.3vw rgb(226, 226, 226);
}
.photoContainer {
  width: 15vw;
  height: 15vw;
  background-color: #ebebeb;
  border-radius: 100%;
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -0.5vw;
}
.profilePhoto{
  width: 100%;
  height: auto;
}
.nameContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.userName {
  font-size: 3vw;
  margin: 2vw;
  margin-bottom: 0;
  color: rgb(70, 70, 70);
}
.descriptionContainer {
  width: 100%;
  height: auto;
}
.text {
  margin: 2vw;
  font-size: 1.3vw;
}
/* Contact Information - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.socialMedia-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 2vh;
}
.socialMedia {
  width: 5vw;
  height: 5vw;
  border: none;
  border-radius: 100%;
  margin: 1vh;
  cursor: pointer;
}
.iconMedia{
  width: 100%;
  height: 100%;
}
/* Rigth Bar ------------------------------------------------------------------------------*/
.rigth{
    width: 65vw;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 3vw;
}
.searchSection {
  width: 100%;
  height: auto;
  margin-bottom: 2vw;
  flex-wrap: wrap;
  display: flex;
}
.tit-c {
  width: 100%;
  min-height: 6vw;
}
.tit {
  font-family: "Hammersmith One", sans-serif;
  font-size: 4vw;
  margin-left: 1vw;
  color: gray;
}

img {
  width: 5vh;
  height: 5vh;
}
#container_all_products_seller{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
} 
#bot {
  background-color: #fff;
  padding: 5px;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  border: none;
  margin-bottom: 10px;
}

#bot:hover {
  color: whitesmoke;
  background-color: #182722cb;
}

/* .searchContainer {
  position: relative;
  margin-left: 1.5vw;
}

.searchContainer .searchButton {
  width: 5vh;
  height: 5vh;
  border: 0cap;
  border-radius: 100%;
  position: absolute;
  background-color: rgb(147, 207, 147);
  cursor: pointer;
  top: 0;
  right: 0;
  transition: 0.5s;
}
.searchContainer #searchP {
  width: 0;
  height: 5vh;
  border: 0cap;
  outline: 0cap;
  padding: 1vw;
  background-color: #ffffff;
  padding-left: 1vw;
  border-radius: 100px;
  transition: 0.8s;
  top: 0;
  right: 0;
}
.searchContainer:hover #searchP {
  width: 25vw;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
}
#searchP:focus {
  width: 25vw;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
}
#searchP:valid {
  width: 25vw;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
}
#searchP:valid ~ .searchButton {
  background-color: rgb(66, 94, 66);
}
*/
/*------------------------------------------------------------------------------*/
.calculateModal{
  width: 40vw;
  height: auto;
  position: fixed;
  top: 37.5vh;
  left: 30vw;
  z-index: 10;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  
}
.titleCalculate{
  width: 100%;
  font-weight: 700;
  color: gray;
  margin: 2vw;
}
.resultCalculation{
  width: 100%;
  font-weight: 600;
  color: rgb(0, 48, 0);
  margin: 2vw;
  margin-top: 0;
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(186, 186, 186, 0.191);
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 5;
  top: 0;
}

.hidden{
  display: none;
}
.text-alining{
  margin-left: 12vw;
}
.part-Comentarios{
  width: 45%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

#inputVal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

#text-Comen {
  width: 100%;
  height: auto;
  min-height: 10vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; 
  box-sizing: border-box; 
  font-size: 16px;
  line-height: 1.5;
}


.submit-Com{
  appearance: button;
  background-color: #182722cb;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.submit-Com:after {
  background-clip: padding-box;
  background-color: #182722cb;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.submit-Com:main, .submit-Com:focus {
  user-select: auto;
}
 
.submit-Com:hover:not(:disabled) {
  filter: brightness(1.1);
}
 
.submit-Com:disabled {
  cursor: auto;
}
 
.submit-Com:active:after {
  border-width: 0 0 0px;
}
 
.submit-Com:active {
  padding-bottom: 10px;
}
