*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(222, 222, 222);
    background: no-repeat center/100% url("../Icons//Fondos-Pantallas/fondo.jpg");
}
main{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(90, 100, 90);
    display: flex;
    align-items: center;
}
.ventexLogo{
    color: white;
    font-family: "Hammersmith One", sans-serif;
    margin-left: 2vw;
}
.container{
    width: 50vw;
    height: 75vh;
    background-color: white;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 3px rgb(198, 198, 198);
}
.titleContainer{
    width: 20vw;
    height: 75vh;
    /* background-color: rgb(90, 100, 90); */
    background-image: linear-gradient(rgb(112, 124, 112), rgb(61, 65, 61));
    display: flex;
    align-items: center;
    justify-content: center;
}
.screamTitle{
    color: white;
    font-family: "Hammersmith One", sans-serif;
    font-size: 3vw;
}
.content{
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
.photoContainer{
    width: 11vw;
    height: 11vw;
    background-color: rgb(112, 124, 112);
    border-radius: 100%;
    overflow:hidden;
    margin-top: 5vh;
    cursor: pointer;
    transition: .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photoContainer:hover{
    box-shadow: 0 0 5px 3px rgb(219, 219, 219);
    transform: scale(1.05);
}
#userPhoto{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.defaultPhoto{
    width: 80%;
    height: 80%;
    position: absolute;
}
.inputContainer{
    width: 25vw;
    height: 5vh;
    margin-top: 2vh;
    position: relative;
    transition: .3s;
}
.inputContainerSmall{
    width: 12vw;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    position: relative;
    transition: .3s;
}
.input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    padding-left: 1vh;
    position: relative;
    background: none;
    transition: .3s;
    /* background-color: #78855F; */
    background-color:var(--inputColor);
    border-radius: 100px;
    border: 1px solid rgb(179, 179, 179);
}

.input:focus,
.input:valid{
    background-color: white;
}
.inputText:hover ~ .input{
    background-color: white;
    border: 1px solid rgb(117, 117, 117);
} 
/*
.input:valid{
    background-color: white;
}
*/
/*---------------------------------------------------------------------------*/
 .input:focus ~ .inputText,
 .input:valid ~ .inputText{
    top: -1vh;
    background-color: white;
    color: green;
}
/* .input:focus ~ .inputText{
    top: -1vh;
    background-color: white;
} */
.inputText:focus{
    top: -1vh;
    background-color: white;
} 

/* .input:valid ~ .inputText{
    top: -1vh;
    color: rgb(62, 145, 67);
} */
.inputText{
    position: absolute;
    top: 1vh;
    color: rgb(211, 211, 211);
    margin-left: 1vh;
    font-weight: 100;
    transition: .3s;
    background-color: var(--inputColor);
    pointer-events: none;
}
.Registrarse{
    width: 25vw;
    height: 5vh;
    border: none;
    border-radius: 100px;
    margin-top: 3vh;
    background-color: rgb(112, 124, 112);
    color: white;
    transition: .3s;
}
.Registrarse:hover{

    transform: scale(1.02);
    background-color: rgb(88, 97, 88);
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    --inputColor:  rgb(245, 245, 245);
}
#mensaje{
    font-size: 15px;
}