* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html,body {
    height: 100%;
    width: 100%;
    background-color: #EBEBEB;
  }
  
  main {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    align-items: center;
  }
  
  .decor{
    width: 50vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #182722;
  }
  
  .circle1 {
    width: 30vw;
    height: 30vw;
    background: linear-gradient(45deg, #182722, #00E091);
    border-radius: 50%; 
    position: absolute; 
    top: -30vh; 
    left: -60px;
  }
  
  .circle2 {
    width: 15vw;
    height: 15vw;
    background: linear-gradient(45deg, #00E091, #182722);
    border-radius: 50%; 
    position: absolute; 
    bottom: -80px; 
    left: -40px;
  }
  
  .circle3 {
    width: 15vw;
    height: 15vw;
    background: linear-gradient(45deg, #00E091, #182722);
    border-radius: 50%; 
    position: absolute; 
    bottom: 95px; 
    right: -40px;
  }
  
  .circle1::before,
  .circle1::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 2px;
    background-color: white;
    left: -25%;
    bottom: 15%;
    transform: rotate(45deg); 
    transform-origin: center; 
  }
  
  .circle1::after {
    bottom: 5%;
    transform: rotate(-45deg);
  }
  
  .form {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    left: -30px;
    background-color: #EBEBEB;
    box-shadow: -15px 10px 28px -2px rgba(158, 158, 158, 0.367);
  }
  
  form{
    width: 100%;
    height: 85%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1.2rem;
  }
  
  .form-title{
    padding: 10px;
    font-size: 3rem;
    color: #182722;
  }
  
  .form input {
    width: 20vw;
    height: 6vh;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #dedede7a;
    padding: 5px;
    color: #676b6a;
    border: 1px solid #182722;
  }
  
  .form input:focus-visible {
    outline: 1px solid #00E091;
  }
  
  .form input::placeholder {
    color: #00E091;
  }
  
  .select-container {
    width: 20vw;
    height: 6vh;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #dedede7a;
    padding: 5px;
    border: 1px solid #182722;
  }
  
  label {
    color: #182722;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 4px;
  }
  
  .submit{
    width: 14vw;
    padding: 3px;
    font-size: 1.5rem;
    border-radius: 20px;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #182722;
    color: #00E091;
  }
  
  .submit:hover{
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cont-img{
    width: 40vh;
    height: 40vh;
    position: relative;
    right: 3rem;
    background-color: grey;
  }
  
  .cont-img img{
    width: 100%;
    height: 100%;
  }