*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(244, 244, 244);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
table, tr, th, td{
    border-collapse: collapse;
}
.container{
    margin-top: 5vh;
}
.table-header{
    background-color: rgb(119, 123, 119);
    height: 8vh;
    width: 100%;
    display: flex;
}
.searchSection{
    width: 30%;
    height: 100%;
}
.table-name-container{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-name{
    font-size: 2rem;
    color: white;
}
.table-options{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.btn{
    background: none;
    color: white;
    border: none;
    padding-bottom: 0.2vh;
    margin-right: 2vw;
}
.btn:hover{
    border-bottom: 0.1vw solid white;
}
.table-header-data{
    height: 5vh;
}
.header-data{
    color: gray;
    font-size: 1vw;
    font-weight: 300;
}
.check{
    width: 7vw;
    text-align: center;
}
.checkButton{
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: none;
    background: none;
}
.checkButton:hover{
    transform: scale(1.01);
    border: 1px solid gray;
}
.pointsV{
    width: 100%;
    height: 100%;
}
.pointsOptions{
    position: absolute;
    width: 8vw;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    left: 5vw;
}
.pointsOption{
    width: 20vw;
    height: 2vw;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgb(158, 158, 158);
    border-collapse: collapse;
    z-index: 2;
}
.linkOptionPoints{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: gray;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}
.row-column-order{
    height: 10vh;
    background-color: white;
    transition: .3s;
    container-type: inline-size;
}
.row-column-order:hover{
    height: 15vh;
    /* box-shadow: 0 0 0.1vw 0.11vw rgb(229, 229, 229); */
    border: 0.1vw solid rgb(229, 229, 229);
    transform: scale(1.01);
}
.table-data{
    text-align: center;
    color: gray;
    font-size: 1vw;
    width: 9vw;
    container-type: inline-size;
}
.table-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.modal{
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: 20vh;
    z-index: 10;
    background-color: white;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(186, 186, 186, 0.191);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 5;
    top: 0;
}
.invisibleOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
}
.hidden{
    display: none;
}